<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>RustOwl Playground</title>

    <meta property="og:title" content="RustOwl Playground" />
    <meta property="og:url" content="https://play.rustowl.rs/" />
    <meta property="og:image" content="https://play.rustowl.rs/favicon.png" />
    <meta
      property="og:description"
      content="RustOwl - Visualize ownership and lifetimes in Rust"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@cdx56" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
